body {
  background-color: #EAF6F6;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  text-align: center;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
